[submodule "core/include/isect2d"]
	path = core/deps/isect2d
	url = https://github.com/tangrams/isect2d.git
[submodule "core/dependencies/csscolorparser"]
	path = core/deps/css-color-parser-cpp
	url = https://github.com/tangrams/css-color-parser-cpp
[submodule "core/include/earcut.hpp"]
	path = core/deps/earcut
	url = https://github.com/tangrams/earcut.hpp
[submodule "external/alfons"]
	path = core/deps/alfons
	url = https://github.com/hjanetzek/alfons
[submodule "core/deps/geojson-vt-cpp"]
	path = core/deps/geojson-vt-cpp
	url = https://github.com/mapbox/geojson-vt-cpp.git
