[submodule "core/include/libtess2/libtess2"]
	path = core/dependencies/tess2/libtess2
	url = https://github.com/memononen/libtess2.git
[submodule "core/include/fontstash-es"]
	path = core/include/fontstash-es
	url = https://github.com/tangrams/fontstash-es.git
[submodule "core/include/glm"]
	path = core/include/glm
	url = https://github.com/g-truc/glm.git
[submodule "core/include/isect2d"]
	path = core/include/isect2d
	url = https://github.com/tangrams/isect2d.git
[submodule "core/dependencies/yaml-cpp"]
	path = core/dependencies/yaml-cpp
	url = https://github.com/blair1618/yaml-cpp.git
	branch = no-boost
	ignore = untracked
[submodule "core/include/variant"]
        path = core/include/variant
        url = https://github.com/mapbox/variant.git
