language: cpp

# enabling multi platform build (under travis beta)
# requires emailing support@travis-ci.com for this to be enabled for our repo
# http://docs.travis-ci.com/user/multi-os/
matrix:
    include:
        - os: osx
          env: PLATFORM=osx
          compiler: clang
        - os: osx
          env: PLATFORM=ios
          compiler: clang
        - os: linux
          env: PLATFORM=android
          compiler: gcc
        - os: linux
          env: PLATFORM=linux
          compiler: gcc

before_install:
    - git submodule init && git submodule update
    - source ./travis/before_install.sh

install: ulimit -c

before_script:
    # Set the core file limit to unlimited so a core file is generated upon crash
    - ulimit -c unlimited -S

# build test project
script:
    - source ./travis/script_build_tests.sh
    - source ./travis/script_run_tests.sh
    - source ./travis/script_build.sh

