version: 2
jobs:
  build-ios:
    macos:
      xcode: "9.0"
    steps:
      # Check out repository with submodules.
      - checkout
      - run: git submodule update --init
      # Install dependencies.
      # For unclear reasons, 'jazzy' fails to install on CircleCI if 'atomos' is not installed first.
      - run: sudo gem install atomos jazzy
      - run: brew install cmake
      # Build framework and docs.
      - run: make ios TANGRAM_IOS_FRAMEWORK_SLIM=1
      - run: make ios-docs
  build-deploy-ios-snapshot:
    macos:
      xcode: "9.0"
    steps:
      # Check out repository with submodules.
      - checkout
      - run: git submodule update --init
      # Install dependencies.
      # For unclear reasons, 'jazzy' fails to install on CircleCI if 'atomos' is not installed first.
      - run: sudo gem install atomos jazzy
      - run: brew install cmake
      # Build the framework in debug mode and package it into pod.zip
      - run: make ios-framework-universal DEBUG=1
      - run: make ios-docs
      - run: zip -r pod.zip build/ios-framework-universal/Debug/TangramMap.framework
      # Add the readme and license files.
      - run: zip pod.zip platforms/ios/framework/README.md LICENSE
      - store_artifacts:
          path: pod.zip
  build-deploy-macos-snapshot:
    macos:
      xcode: "9.0"
    steps:
      # Check out repository with submodules.
      - checkout
      - run: git submodule update --init
      # Install dependencies.
      - run: brew install cmake
      # Build the MacOS demo app and package it into demo.zip
      - run: make osx -j 2 MACOSX_DEPLOYMENT_TARGET=10.10.0
      - run: zip -r demo.zip build/osx/bin/tangram.app
      - store_artifacts:
          path: demo.zip
  build-deploy-ios-release:
    macos:
      xcode: "9.0"
    steps:
      # Check out repository with submodules.
      - checkout
      - run: git submodule update --init
      # Install dependencies.
      # For unclear reasons, 'jazzy' fails to install on CircleCI if 'atomos' is not installed first.
      - run: sudo gem install atomos jazzy
      - run: brew install cmake jfrog-cli-go
      # Build the framework in release mode and package it into pod.zip
      - run: make ios-framework-universal RELEASE=1
      - run: make ios-docs
      - run: zip -r pod.zip build/ios-framework-universal/Release/TangramMap.framework
      # Add the readme and license files.
      - run: zip pod.zip platforms/ios/framework/README.md LICENSE
      # Upload and publish the Cocoapods archive to Bintray.
      - run: jfrog bt config --user=${BINTRAY_USER} --key=${BINTRAY_API_KEY} --licenses=MIT
      - run: jfrog bt upload --publish=true pod.zip tangrams/cocoapods/Tangram-es/${CIRCLE_TAG} ${CIRCLE_TAG}-release.zip
      - store_artifacts:
          path: pod.zip

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build-ios:
          filters:
            branches:
              ignore: master
      - build-deploy-macos-snapshot:
          filters:
            branches:
              only: master
      - build-deploy-ios-snapshot:
          filters:
            branches:
              only: master
      - build-deploy-ios-release:
          filters:
            # For any tag of the form 1, 1.2.3, 1.4-beta2, etc. we will deploy a release build.
            tags:
              only: /[0-9]+(\.[0-9]+)*(-beta[0-9]*)?/
            branches:
              ignore: /.*/
